/* This is a CSS comment */

/* Resetting default margins and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling the body element */
body {
    font-family: Arial, sans-serif;
    background-color:#B0504F;
    text-align: center;
}

/* Styling the header element */
header {
    background-color: #4FAFB0;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    text-decoration: wavy;
    border: 3px #ffffff;
}

/* Styling links */
a {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
}

/* Styling headings */
h1 {
    font-size: 75px;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

/* Styling paragraphs */
p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
}

/* Styling a class named 'button' */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Styling an ID named 'footer' */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 20;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Media query for responsive design */
@media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    header {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }
}
.gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5px;
    border: 0px solid #ccc;
    float: left;
    width: 180px
}