/* styles.css */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    margin: 10px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

figcaption {
    margin-top: 10px;
    font-size: 14px;
}
